@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@400;500&display=swap');
@import "tailwindcss";

CUSTOM FONT CLASSES
.font-title {
  font-family: 'Playfair Display', serif;
}

.font-body {
  font-family: 'Poppins', sans-serif;
}
.text-rosegold {
    color: #B76E79;
  }
  /* .text-gray-700 {
    color: #374151;
  }
  
  .text-gray-800 {
    color: #1F2937;
  }
  
  .text-gray-600 {
    color: #4B5563;
  }
  
  .text-pink-500 {
    color: #EC4899;
  } */
  